{% include 'news/partials/header.html' %}

{% load static %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Post Details</h4>
                <h2>{{ article.name }}</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ article.main_image.url }}" alt="">
                    </div>
                    <div class="down-content article-content__wrapper__delete-br">
                      <span>Lifestyle</span>
                      <h4>{{ article.name }}</h4>
                      <ul class="post-info">
                        <li><a href="#">Admin</a></li>
                        <li><a href="#">May 12, 2020</a></li>
                        <li><a href="#comments">{{ article.comments.all.count }} Comments</a></li>
                      </ul>
                      {{ article.content | safe }}
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="{% url 'category' article.categories.first.slug %}">{{ article.categories.first.name|title }}</a>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% if comments %}
                <div class="col-lg-12" id="comments">
                  <div class="sidebar-item comments">
                    <div class="sidebar-heading">
                      <h2>{{ comments.count }} comments</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for comment in comments %}
                          <li style="width: 100%">
                            <div class="author-thumb">
                              <img src="{% static 'assets/images/comment-author-01.jpg' %}" alt="">
                            </div>
                            <div class="right-content">
                              <h4>{{ comment.name }}<span>{{ comment.pub_date }}</span></h4>
                              <p>{{ comment.comment }}</p>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                {% endif %}
                <div class="col-lg-12">
                  <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                      <h2>Your comment</h2>
                    </div>
                    <div class="content">
                      {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      {% endif %}
                      <form id="comment" action="" method="post">
                      {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              {{ form.name.errors }}
                              <input name="name" type="text" required id="name"
                                     placeholder="Your name"
                                     {% if form.name.value %}
                                     value="{{ form.name.value }}"
                                     {% endif %}
                              >
                            </fieldset>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              {{ form.email.errors }}
                              <input name="email" type="text" required id="email"
                                     placeholder="Your email"
                                     {% if form.email.value %}
                                     value="{{ form.email.value }}"
                                     {% endif %}
                              >

                            </fieldset>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              {{ form.subject.errors }}
                              <input name="subject" type="text" id="subject"
                                     placeholder="Subject"
                                     {% if form.subject.value %}
                                     value="{{ form.subject.value }}"
                                     {% endif %}
                              >
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                            <fieldset>
                              {{ form.comment.errors }}
                              <textarea name="comment" rows="6" id="message"
                                        placeholder="Type your comment"
                                        {% if form.comment.value %}
                                        value="{{ form.comment.value }}"
                                        {% endif %}
                              ></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">Submit</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for article in last_6_articles|slice:"3" %}
                        <li><a href="{% url 'article' article.slug %}">
                          <h5>{{ article.name }}</h5>
                          <span>{{ article.pub_date }}</span>
                        </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for cat in menu_categories %}
                        <li><a href="{% url 'category' cat.slug %}">{{ cat.name|title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">PSD</a></li>
                        <li><a href="#">Responsive</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
  {% include 'news/partials/footer.html' %}

  {% include 'news/partials/footer_scripts.html' %}

  </body>

</html>
